/* Estilos principais */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
}

/* Seção de Plataformas */
#platformsList {
    margin: 20px 0;
}

.platform {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.platform h3 {
    margin: 0;
}

.platform a {
    text-decoration: none;
    color: #3498db;
}

.platform a:hover {
    text-decoration: underline;
}

/* Estilos para adicionar link */
#addLinkSection input {
    margin: 5px;
    padding: 10px;
    width: 80%;
    font-size: 16px;
}

/* Rodapé */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
